@import "variables";

.comment {
  padding: 16px;
  margin-top: 16px;
  background: white;
  border-radius: 3px;

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__email {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $black-100;
  }
  &__created-at {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: $brown-grey;
  }

  &__content {
    margin-top: 8px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
  }
}
