$black-100: #09101d;
$brown-grey: #666666;
$grey-100: #2c2e32;
// media devices
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
